.services {
  display: grid;
  width: 100vw;

  &__article {

    &__image {
      display: block;
      width: 100%;
      height: 100%;
    }

    &__content {
      text-align: center;
      padding: 4.5rem 2rem;
      max-width: 650px;
      margin: 0 auto;
    }

    &__title {
      color: $blueDesaturatedVeryDark;
      text-transform: capitalize;
      font-size: 2rem;
      margin-bottom: 1.7rem;
    }

    & p {
      color: $blueGrayishDark;
      line-height: 1.7;
      font-size: 1.1rem;
    }

    &__btn {
      margin-top: 1.7rem;
      font-size: 1rem;
      background-color: transparent;
      font-family: "Fraunces";
      font-weight: 700;
      letter-spacing: 1px;
      color: $blueDesaturatedVeryDark;
      text-transform: uppercase;
      border: none;

      &::after {
        content: "";
        position: absolute;
        bottom: -2px;
        left: -5%;
        width: 110%;
        height: 11px;
        border-radius: 8px;
        background-color: $yellow;
        opacity: .3;
        @include transition;
        z-index: -1;
      }

      &:hover::after {
        opacity: 1;
      }
    }

    &__fleet {
      position: absolute;
      bottom: 4rem;
      left: 50%;
      transform: translateX(-50%);
      width: 88vw;
      max-width: 500px;
      text-align: center;
      color: $cyanModerateDark;

      &>h2 {
        color: $cyanDesaturatedDark;
      }

      &:nth-child(2)>h2,
      &:nth-child(2)>p {
        color: $blueDark;
      }

      &>p {
        font-size: 1rem;
        color: $cyanDesaturatedDark;
      }
    }
  }

  &__simple {
    &:nth-child(2) {
      & .services__article__btn::after {
        background-color: $redSoft;
      }
    }
  }

  @include breakpoint-up(large) {
    &__simple {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      &:nth-child(1) .services__article:nth-child(1) {
        order: 1;
      }
    }

    &__article {
      display: flex;
      justify-content: center;
      align-items: center;

      &__content {
        text-align: left;
        padding: 0 4rem;
        max-width: 600px;
      }

      &__fleet {
        bottom: 6rem;

        & p {
          font-size: 1.2rem;
        }
      }

      &__title {
        font-size: 2.5em;
        letter-spacing: 1px;
      }
    }
  }

  @include breakpoint-up(xlarge) {
    &__mixte {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    &__article {
      &__fleet {
        bottom: 4rem;
        max-width: 360px;

        & p {
          font-size: 1.1rem;
        }
      }

      &__title {
        font-size: 2rem;
      }
    }
  }
}