/// Container's maximum width
/// @type Length
$max-width: 1180px !default;

/// Primary Colors
$redSoft: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
$cyanDesaturatedDark: hsl(167, 40%, 24%);
$blueDark: hsl(198, 62%, 26%);
$cyanModerateDark: hsl(168, 34%, 41%);

/// Neutral Colors
$blueDesaturatedVeryDark: hsl(212, 27%, 19%);
$blueGrayishVeryDark: hsl(213, 9%, 39%);
$blueGrayishDark: hsl(232, 10%, 55%);
$blueGrayish: hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);